body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #808080; /*Gray Colour*/
    color: white;
}

#game {
    display: inline-block;
    margin-top: 20px;
}

 .game-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            margin: 20px auto;
            max-width: 1200px;
 }

.game-option {
            display: inline-block;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 200px;
            text-align: center;
}

.image-option {
            display: inline-block;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            text-align: center;
}

.game-option h2 {
            font-size: 24px;
            margin-bottom: 20px;
}

.game-option button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
}

.game-option button:hover {
            background-color: #2AF600;
}

.menu-option button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            height: auto;
}

.menu-option button:hover {
            background-color: #2AF600;
}

.spacer_split {
    height: 5px;
    background-color: #808080;
    margin: 20px 0;
    width: 100%;
}

.hand {
    display: flex;
    justify-content: center;
}

.spacer {
    display: flex;
    margin-bottom: 20px;
    height: 20px;
}

.show_totals {
    margin-bottom: 20px;
}

.hand img {
    margin: 0 20px;
    width: 120px;
    height: 180px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .hand img {
        margin: 20px;
        width: 60px;
        height: 90px;
        border-radius: 5px;
    }
    #controls button, #place-bet {
    margin: 5px;
    padding: 50px 10px;
    background-color: #2980b9;
    border: none;
    color: white;
    cursor: pointer;
    }
    #controls button:hover, #place-bet:hover {
    background-color: #3498db;
    }
}

#controls button, #place-bet {
    margin: 5px;
    padding: 10px 20px;
    background-color: #2980b9;
    border: none;
    color: white;
    cursor: pointer;
}

#controls button:hover, #place-bet:hover {
    background-color: #3498db;
}


#message {
    font-size: 1.2em;
}

nav{
    background-color: #404040;
    display: flex;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.red-box {
    vertical allign: top;
    horizontal allign; left;
}
