body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #808080; /*Gray Colour*/
    color: white;
}

#game {
    display: inline-block;
    margin-top: 20px;
}

.spacer_split {
    height: 5px;
    background-color: #808080;
    margin: 20px 0;
    width: 100%;
}

.hand {
    display: flex;
    justify-content: center;
}

.spacer {
    display: flex;
    margin-bottom: 20px;
    height: 20px;
}

.show_totals {
    margin-bottom: 20px;
}

.hand img {
    margin: 0 20px;
    width: 120px;
    height: 180px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .hand img {
        margin: 20px;
        width: 60px;
        height: 90px;
        border-radius: 5px;
    }
    #controls button, #place-bet {
    margin: 5px;
    padding: 50px 10px;
    background-color: #2980b9;
    border: none;
    color: white;
    cursor: pointer;
    }
    #controls button:hover, #place-bet:hover {
    background-color: #3498db;
    }
}

#controls button, #place-bet {
    margin: 5px;
    padding: 10px 20px;
    background-color: #2980b9;
    border: none;
    color: white;
    cursor: pointer;
}

#controls button:hover, #place-bet:hover {
    background-color: #3498db;
}


#message {
    margin-top: 20px;
    font-size: 1.2em;
}
